{% extends "base_layout.html" %}

{% block title %}Project 1{% endblock %}

{% block content %}
    
    {% if current_user.is_authenticated %}
        <div class="h-auto">
            {% if error %}
            <div class="col-md-5 ml-3 alert alert-danger alert-dismissable fade show" role="alert">
                {{ error | safe }}
            </div>
            {% endif %}
            {% include "books_table.html" %}
        </div>
    {% else %}
        <div class="content">
            <h1>Welcome to Yachay Tech</h1>
        </div>
    {% endif %}
{% endblock %}